@*@model MVC.Models.ErrorViewModel*@

@{
    ViewBag.Title = "Error";
}

<h1>Hubo un error</h1>

    <a href="@Url.Action("Index", "Category")"  class="btn btn-primary">Volver al listado de categorias</a>


@*<h2 class="text-danger">@Model.ErrorMessage</h2>*@
