.title{
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.button{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0.1em;
    margin-right: 0.3em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}